body{
    margin: 0px !important;
}

.list-none{
    list-style: none;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.text-uppercase{
    text-transform: uppercase;
}

.position-relative{
    position:relative;
}

.text-decoration-none{
    text-decoration: none;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-noWrap{
    flex-wrap: nowrap;
}

.d-block{
    display: block;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.text-start{
    text-align: left;
}

.text-end{
    text-align: right;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.float-right{
    float: right;
}

.m-0{
    margin: 0px;
}

.p-0{
    padding: 0;
}

.pr-0{
    padding-right: 0px !important;
}

.pl-0{
    padding-left: 0px !important;
}


.colWrapper{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

#header{
    position:absolute;
    width: 100%;
    height: 80px;
    z-index: 11;
    line-height: 80px;
}

.sticky{
    box-shadow: 0 12px 6px rgba(0,0,0,0.06);
    top: 0;
    position: fixed !important;
    margin: 0 auto;
    background-color: #fff;
}

.brand {
    /* position: absolute; */
    /* padding-left: 20px; */
    float: left;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}
.brand a, .brand a:visited {
    color: #1f1f1f;
    text-decoration: none;
}

.responsiveNav{
    display: none;
}

nav ul li a,nav ul li a:visited {
    display: block;
    padding: 10px 12px;
    line-height: 55px;
    color: #000;
    background: transparent;
    text-decoration: none;
    font-size: 12px;
font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.dropmenu{
    background-position: right bottom;
    background-repeat: no-repeat;
    min-width: 200px;
    top: auto;
    background-color: #fff;
    border: 0;
    color: #000;
    border-style: solid;
    border-color: #eee;
    border-width: 1px !important;
    left: auto;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    box-shadow: 0 33px 32px rgba(0,0,0,0.1);
    padding: 10px;
    /* display: none; */
    position: absolute;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: transparent;
    color: #2250fc;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}

.navbar-dropdown li a{
    background: #fff;
    color: #444;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}

.navbar-dropdown li:hover {
    background-color: #ddd;
  }

  .navbar-item:hover .navbar-dropdown {
    display: block;
  }

  #barIcon, #closeIcon{
    display: none;
  }

.container{
    max-width: 1140px;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;
}

.commonHeadingStyle{
    color: #1f1f1f;
    font-size: 38px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
}

.commonParaStyle{
    font-size: 16px;
    color: #777;
    font-weight: 300;
    line-height: 1.7;
}

.heroSectionWrapper{

    position: relative;
    background-image: url(./images/hero_banner.webp);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    padding: 120px 0px 100px;
    min-height: 700px;
    height: 100%;
}

    .headingWrappper{
        margin-bottom: 100px;
    }

    .heroSectionHeading{
        font-size: 60px;
        font-weight: 700;
        line-height: 68px;
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
    }

/* aboutus Section style */
    .aboutUsWrapper{
        padding: 80px 0px;
        position: relative;
        z-index: 2;
    }

    .aboutHeading{
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.5px;
        margin-bottom: 8px;
    }

    .moreInfoButton{
        background-color: #2250fc;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        padding: 12px 18px;
        border: 1px solid #2250fc;
        border-radius: 32px;
        line-height: 14px;
        cursor: pointer;
    }

    .moreInfoButton:hover{
        background-color: #0333e8;
    }

    .aboutUsWrapper p{
        color: #777;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .progressBar{
        height: 10px;
        background-color: #2250fc;
    }
    .w-100{
        width: 100%;
    }

    .w-94{
        width: 94%;
    }

    .w-89{
        width: 89%;
    }

    .w-78{
        width: 78%;
    }

    .w-75{
        width: 75%;
    }

    .progressWrapper{
        margin-top: 20px;
    }

    .headingProgress{
        font-size: 13px;
        font-weight: 600;
        color: #333;
    }

    .percentProgress{
        color: #333;
        font-size: 13px;
    }

    .bg-gray{
        background-color: #eee;
        width: 100%;
    }

    /* portfolio section style */
    .portfolioWrapper{
        padding: 80px 0px;
        background-color: #F7F9FB;
    }

    .portfolioHeading{
        margin-bottom: 60px !important;
        margin: 0 auto;
        width: 83%;
    }


    .tabWrapper{
        margin-bottom: 26px;
    }

    .tabWrapper ul{
        margin-bottom: 16px;
        margin: 0px !important;
    }

    .tabWrapper ul li{
        margin-right: 6px;
    }

    .tabWrapper ul li:hover a{
        border-radius: 50px;
        border: 2px solid #2250fc;
        color: #2250fc;
        transition: all .3s ease;
    }

    .tabWrapper ul li a{
        font-weight: 600;
        padding: 8px 10px;
        font-size: 13px;
        line-height: 15px;
        font-family: 'Poppins', sans-serif;
        color: #484848;
    }

    .courselWrapper{
        width: 30%;
        padding: 0px 20px 20px 0px;
        overflow: hidden;
    }

    .courselWrapper:last-child{
        padding: 0px 0px 20px;
    }

   /* Height of carousel */
   .slide-container,
   .slideContainer2 {
       overflow: hidden; 
       position: relative; 
   }
   
   .slide, .slide2 {
       width: 100%; 
   }
   
   .slides, .slides2 {
    min-height: 237px;
       display: block; 
   }
   
   /* Style of arrows */


   .arrow {
       color:#1f1f1f; 
       box-shadow: 0 0px 15px rgba(0,0,0,0.1);
       text-align: center;
       position: absolute; 
       top: 50%; 
       transform: translate(0%, -50%); 
     width: 40px;
     height: 40px;
     left: 10px;
     border-radius: 50%;
       background-color: #fff; 
       transition: background-color 0.3s ease; 
       opacity: 0;
   }
   
   .arrow:hover{
       cursor: pointer;
       background-color: #2250fc; 
       color: #fff;
   }

   .slide-container:hover .arrow{
    opacity: 1;
    transition: all ease-in-out 0.5s;
   }

   .slideContainer2:hover .arrow{
    opacity: 1;
    transition: all ease-in-out 0.5s;
   }

   .arrowIcon{
    padding: 12px;
   }
   
   .next, .next2 {
       left: 100%; 
       transform: translate(-129%, -50%); 
   }

   
   .dotsContainer,
   .dotsContainer2 {
       width: 100%;
       height: 20px; 
       text-align: center; 
       position: absolute;
       bottom: 20px;
   }
   
   .dots,
   .dots {
       width: 8px;
       height: 8px;
       background-color: #ccc; 
       border-radius: 100%; 
       display: inline-block; 
       margin: 8px 2px; 
   }
   
   .dots:hover{
       cursor: pointer; 
       background-color: rgba(0,0,0,0.4);
   }

   .dots2:hover {
    cursor: pointer; 
    background-color: rgba(0,0,0,0.4);
}
   
   .activeDot{
       background-color: rgba(0,0,0,0.6); 
   }


   /* second col style */

   .CarouselImgWrapper{
    min-height: 237px !important;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
   }

   .portfolio-item-wrap{
    position: relative;
    overflow: hidden;
   }

   .CarouselImgWrapper img{
    max-width: 357px;
    width: 100%;
    object-fit: contain;
   }
   .modal-content {
    margin: 0px auto;
    display: block;
    width: auto;
    max-height: 544px;
    height: auto;
    padding: 40px 0px 40px;
}
/* 
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
} */

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

   #img-viewer {
    display: none;
    position: fixed;
    z-index: 1042;
        left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0b0b0b;
}

#img-viewer::after{
    opacity: 0.8;
}


.imageCaption{
    color: #f3f3f3;
    line-height: 18px;
    text-align: center;
    margin-right: 496px;
    margin-top: -36px;

}

#img-viewer .close {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-left: 567px;
    text-align: center;
    color: #fff;
    opacity: 0.65;
    font-size: 37px;
    font-weight: 300;
    transition: 0.3s;
}

#img-viewer .close:hover{
    cursor: pointer;
}


   .carouselIconWrapper{
    left: 0;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 48%;
    transform: translate3d(0px, -38%, 0px);
    transition: all 250ms ease-in-out 0s;
    visibility: visible;
    width: 70%;
    z-index: 3;
   }

   .portfolio-item:hover .CarouselImgWrapper img{
    transform: scale(1.1);
    overflow: hidden;
   }

    .portfolio-item .CarouselImgWrapper img{
    transform: scale(1);
    transition: all 0.5s ease-out;
   } 

   .portfolio-item:hover .carouselIconWrapper{
    transform: translate3d(0, -50%, 0);
    opacity: 1;
    visibility: visible;
   }

   .portfolio-item .CarouselImgWrapper::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease;
    opacity: 0;
    content: ' ';
    z-index: 2;
   }

   .portfolio-item:hover .CarouselImgWrapper::after{
    opacity: 0.5;
   }

   .iconWrapper{
  margin: 3px;
   }

    .secondImgIcon{
        font-size: 14px;
        color: #444;
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        z-index: 3;
        border: 1px solid #ededed;
   }

   .enlarged {
    max-width: 100%;
    max-height: 100%;
  }

   .secondImgIcon:hover{
    background-color: #2250fc;
    color: #fff;
    border: 1px solid #2250fc;
   }

   /* third carousel style */
   .carouselDescription a{
    text-decoration: none;
    color: #fff;
   }

   .carouselDescription h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 4px;
   }




   /* clients reviews section style */
   .clientsWrapper{
    padding: 80px 0px;
   }

   .clientHeading{
    text-align: center;
    margin-bottom: 60px;
   }
 
   .sliderWrapper{
    height: 270px;
    touch-action: pan-y;
    text-align: center;
   }

  .custImgWrapper{
    background-color: transparent;
    padding: 30px 0px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
    top: 0;
  }

  .custImgWrapper.active { 
    left: 0; 
    transition: all 0.3s ease-out; 
} 

  .custImgWrapper img{
    width: 72px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.06);
    height: 72px;
    margin: 0px auto 10px;
    animation: 9s slider infinite;
    position: relative;
  }

  .custPara{
    font-size: 20px;
    font-weight: 400;
    padding: 0px 80px 20px;
    line-height: 22px;
    margin-top: 20px;
    color: #777;
  }

  .custName{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
  }

  .custDesignation{
    color: #bbb;
    font-weight: 500;
    font-size: 13px;
    font-style: italic;
  }

  .slick-dots{
    bottom: -23px;
  }

  .slick-dots li button:before{
    font-size: 14px !important;
  }

  .coNameWrapper{
    padding: 80px 0px;
  }


  /* blog section style */
  .blogWrapper{
    background-color: #F7F9FB;
    padding: 80px 0px;
    margin-bottom: 26px;
    padding-right: 25px;
  }

  .blogHeadingWrapper{
    margin: 0px 127px 80px;
    text-align: center;
  }

  .blogWrapper{
    width: 33.33%;
    position: absolute;
    padding: 0px 20px 20px 0px;
    left: 0px;
    top: 0px;
  }

  /* co name slider section style */
  .slideCoName{
    width: 188px !important;
    padding: 20px;
  }

  .slideCoName img{
    max-width: 138px;
    width: 100%;
  }

/* media query for extra large screen device  */
@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin: 0px auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .rowWrapper{
        display: flex;
    }
}

/* media query for large screen device */

@media(min-width:992px) and (max-width:1199px){
    .container{
        max-width: 960px;
        margin: 0px auto;
    }

    .rowWrapper{
        display: flex;
    }
}

/* media query for medium device */

@media(min-width:768px) and (max-width:991px){
    .container{
        max-width: 720px;
        margin: 0px auto;
    }

    .navOpen{
        height: 100%;
        max-height: 700px;
    }

    .responsiveNav{  
        padding: 0px 15px 0px 15px;
        display: flex;
        list-style: none;
        align-items: baseline;
        display: flex;
        margin: 0px;
    }

    .responsiveNav li a{
        font-size: 12px;
        font-weight: 700;
        margin-right: 10px;
    }


    .brand{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        float: none;
        padding: 0 30px 0px 15px;
    }

    .fa-bars, 
    .fa-xmark{
        font-size: 20px;
    }

    .headerIcon{
        display: none;
    }

    nav{
        float: none;     
        padding-left: 30px; 
    }

    .nav-list{
        display: none;
    }

    #barIcon, #closeIcon{
        display: block;
      }

    #closeIcon{
        display: none;
    }

    nav ul li{
        float: none;
    }

    nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: '\f078';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        right: 0;
   }

   nav ul li a, nav ul li a:visited{
    font-size: 14px;
    padding: 12px 0px;
    line-height: normal;
   }
   .rowWrapper{
    display: block;
}

.colWrapper{
    width: 100%;
}

.portfolioHeading{
    width: 100%;
}

.courselWrapper{
    width: 45%;
}

}


/* media query for small screen device */
@media(max-width: 767px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }

    .navOpen{
        height: 100%;
        max-height: 700px;
    }

    .brand{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        float: none;
        padding: 0 30px 0px 15px;
    }

    #barIcon, #closeIcon{
        display: block;
      }


    .fa-bars, 
    .fa-xmark{
        font-size: 20px;
    }

    .headerIcon{
        display: none;
    }

    nav{
        float: none;     
        padding-left: 30px; 
    }

    .nav-list{
        display: none;
    }

    #closeIcon{
        display: none;
    }

    nav ul li{
        float: none;
    }

    nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: '\f078';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        right: 0;
   }

   nav ul li a, nav ul li a:visited{
    font-size: 14px;
    padding: 12px 0px;
    line-height: normal;
   }
   .rowWrapper{
    display: block;
}

.colWrapper{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.portfolioHeading{
    width: 100%;
}

.courselWrapper{
    width: 95%;
}

}




